.card {
  width: 100%;
  padding: 0;
  border: 0;
  background-color: #787878;
}
.container-fluid {
  max-height: 100%;
  width: 100%;
}
.row {
  max-width: 100%;
  max-height: 100%;
  margin: auto;

}
.position-header {
  background-color: black;
  color: white;
}

body {
  background-color: #787878;
}
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Monoton&display=swap");
.header {
  text-align: center;
  font-family: "Bungee Shade", Arial, sans-serif;
  font-size: 80px;
  color: white;
  max-width: 100vw;
  margin: auto;
}
.sub-header {
  text-align: center;
  padding: 10px;
  font-family: "Bungee Shade", Arial, sans-serif;
  font-size: 60px;
  color: white;
  max-width: 100vw;
  margin: auto;
}

.director {
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .header {
    text-align: center;
    font-family: "Bungee Shade", Arial, sans-serif;
    font-size: 11vw;
    color: white;
    margin: auto;
    max-width: 100vw;
  }
  .sub-header {
    text-align: center;
    padding: 10px;
    font-family: "Bungee Shade", Arial, sans-serif;
    font-size: 9vw;
    color: white;
    max-width: 100vw;
    margin: auto;
  }
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
figure.snip1104 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  opacity: 0.2;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 1000;
}

figure.snip1104:before {
  height: 100%;
  width: 130%;
  top: 0;
  left: -50px;
  content: "";
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}
