body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


html {
  max-width: 100%;
  max-height: 100%;
}